Config { font = "xft:DejaVu Sans Mono Nerd Font:pixelsize=14:antialias:true:hinting:true",
		   , additionalFonts = []
       , borderColor = "black"
       , border = TopB
       , bgColor = "black"
       , fgColor = "grey"
       , alpha = 200
       , position = Top
       , textOffset = -1
       , iconOffset = -1
       , lowerOnStart = True
       , pickBroadest = False
       , persistent = False
       , hideOnStart = False
       , iconRoot = "."
       , allDesktops = True
       , overrideRedirect = True
       , commands = [ 
			 								Run Cpu ["-L","3","-H","50"] 10
                      , Run Memory ["-t","RAM: <usedratio>%"] 10
                      , Run Com "uname" ["-s","-r"] "" 36000
                      , Run Com "whoami" [] "" 36000
                      , Run Date "%a %b %_d %Y %H:%M:%S" "date" 10
											, Run StdinReader
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = "%StdinReader% | %cpu% | %memory% }{ %date% | %uname% | %whoami% "
       }

